/*h1 {
  color: #ccc;
  font-size: 36px;
}
p {
  color: #aaa;
  font-family: cursive;
}
span {
  color: yellow;
  font-size: 26px;
  font-style: oblique;
}
h2 {
 color: #ccc;
}
h3 {
 color: #ccc;
}
td {
  color: #ccc;

}
th {
  color: #ccc;
  font-size: 18px;
}
caption {
  color: #ccc;
  font-size: 22px;
  font-family: helvetica;
  padding-top: 10px;
}
li {
  color: #ccc;
  font-size: 18px;
  font-weight: 500;
  font-style:
}
form {
  margin: auto;
  padding-top: 4px;
  background-color:;
  font-style: italic;
  font-weight: 400;
}*/

.hero {
  width: 100%;
}
